# Keys and other sensitive things
AZfuncEHtrigger/function.json
*key.yaml
application_settings.json

# Azurite components
*__azurite_db_*


# Defaults from az func tools
bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# extras
ADTHubTwinSync/IoTHubtoTwins.cs
__blobstorage__/*
ADTHubTwinSync/function.json
