# I'm building an environment using anaconda, but this is the list
# AZ requires a requirements.txt file

azure-functions
azure-eventhub
azure-digitaltwins-core
azure-identity
azure-eventhub-checkpointstoreblob-aio

pyyaml 
pyOpenSSL
